@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    transition: all 1s ease-in-out;
}

.logoContainer {
    display: flex;
    justify-content: space-around;
    width: 15%;
    height: 100px;
    /* background-color: aqua; */
}

.logo {
    width: 115px;
    height: 85px;
    margin-top: 7px;
    background-image: url(../../assets/img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navContainer {
    width: 50%;
    height: 100%;
    /* background-color: beige; */
}

.navItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navItem a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: Plus_Jakarta_Sans;
}

.slideContainer {
    width: 100%;
    height: 60vh;
    background-image: url(../../assets/img/slideOne.jpg);
    background-size: cover;
    -webkit-box-shadow: 7px 9px 22px -10px rgba(0,0,0,0.96);
    -moz-box-shadow: 7px 9px 22px -10px rgba(0,0,0,0.96);
    box-shadow: 7px 9px 22px -10px rgba(0,0,0,0.96);
    -moz-transition: background-image 1s ease-in-out ;
    transition: background-image 1s ease-out ;
}


#info {
    font-size: 40px;
}

.mainContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 70px;
}

.meetUsText {
    width: 40%;
}

.meetUsText h2 {
    font-size: 30px;
    /* font-family: Playfair_Display; */
    font-family: Plus_Jakarta_Sans;
}

.meetUsText p {
    font-size: 18px;
    margin-top: 25px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: Plus_Jakarta_Sans;

}

.meetUsImage {
    width: 40%;
}